body {
    /* Setzt die Höhe auf 100%, um das Layout besser steuern zu können */
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* --- D3 Plot Styling --- */
.dot {
    cursor: pointer;
    stroke: none;
}

/* --- LAYOUT for table and Plot --- */
#data_comparison_area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1500px;
    margin: 50px auto 20px 20px;
}

#detail_table_container {
    width: 500px;
    margin: 0 100px 0 0;
}

#star_plot_container {
    width: 500px;

}

#car_details {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#car_details th, #car_details td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

#car_details thead th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

/* highlighting even rows in table*/
#car_details tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
